
.ScrabbleLetter {
	font-family: 'Asap', serif;
	color: #272832;
	text-shadow:1px 1px 0px #fff5d7;
	margin: 0px;
  font-size: 30px;
}
.ScrabbleNumber {
	font-family: 'Asap', serif;
	font-size: 12px;
	color: #272832;
	text-shadow:1px 1px 0px #fff5d7;
  margin: 0px;
  padding-left: 3px;
}
#ScrabbleBlock {
	background-color: #f6e1a6;
	background:-webkit-gradient(linear, 100% 100%, 0% 5%, from(#d8bd72), to(#fae1a6));
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow:0px 3px 5px #000;
	-webkit-box-shadow:0px 3px 5px #000;
	box-shadow:0px 0px 5px #a000;
	text-align: center;
	}
.BoardLetterDW {
	font-family: 'Asap', serif;
	font-size: 39px;
	color: #b86e74;
	user-select: none;
	text-transform: uppercase;
	float: left;
	margin-top: 12px;
	margin-left: 3px;
	text-align: center;
}
.BoardLetterTW {
	font-family: 'Asap', serif;
	font-size: 39px;
	color: #f8bdb4;
	user-select: none;
	text-transform: uppercase;
	float: left;
	margin-top: 12px;
	margin-left: 3px;
	text-align: center;
	letter-spacing: 2px;
	padding-left: 2px;
}
.BoardLetterDL {
	font-family: 'Asap', serif;
	font-size: 39px;
	color: #5d94c5;
	user-select: none;
	text-transform: uppercase;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
	text-align: center;
	letter-spacing: 4px;
}
.BoardLetterTL {
	font-family: 'Asap', serif;
	font-size: 39px;
	color: #c3f5f7;
	user-select: none;
	text-transform: uppercase;
	float: left;
	margin-top: 12px;
	margin-left: 12px;
	text-align: center;
	letter-spacing: 1px;
	letter-spacing: 6px;
}
#BoardBlock {
	background-color: #ffbead;
	height: 70px;
	width: 70px;
	-moz-box-shadow: inset 0px 3px 5px #acacac;
	-webkit-box-shadow:inset 0px 3px 5px #acacac;
	box-shadow: inset 0px 0px 5px #acacac;
}
.box-table-b
{
  margin: 0 auto!important;
	border-collapse: collapse;
	border-top: 4px solid #d8d8d8;
	border-bottom: 4px solid #d8d8d8;
	margin: 50px;
	-moz-box-shadow:0px 3px 20px #000;
	-webkit-box-shadow:0px 3px 20px #000;
	box-shadow:0px 3px 20px #000;
}
.box-table-b th
{
	background-color: #c7c0a4;
	border-right: 4px solid #d8d8d8;
	border-left: 4px solid #d8d8d8;
}
.box-table-b td
{
	background-color: #c7c0a4;
	border-right: 4px solid #d8d8d8;
	border-left: 4px solid #d8d8d8;
	border-top: 4px solid #d8d8d8;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #ffbead;
	float: right;
	margin-top: 27px;
	margin-right: -14px;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid #ffbead;
	float: left;
	margin-top: 27px;
	margin-left: -78px;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid #ffbead;
	float: left;
	margin-top: 19px;
	margin-right: 50px;
	margin-bottom: -20px;
	margin-left: 27px;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #ffbead;
	float: left;
	margin-top: -78px;
	margin-right: 50px;
	margin-bottom: -20px;
	margin-left: 27px;
}
#burst-8 {
    background: red;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
            transform: rotate(20deg);
}
#burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
}
