td {
  border: 1px solid black;
}
td {
  width: 40px;
  height: 40px;
}

table {
  margin: 0 auto;
}

.players-tiles {
  margin-top: 25px;
}

td {
  text-align: center;
  margin-left: 2px;
}

.score {
  text-align: center;
}

main {
  margin-top: 45px;
}
